<!DOCTYPE html>
<html lang="en">


<!-- index.html  21 Nov 2019 03:44:50 GMT -->
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, shrink-to-fit=no" name="viewport">
    <title>OBRS - Admin Dashboard</title>
    <!-- General CSS Files -->
    <link rel="stylesheet" href="~/admin/assets/css/app.min.css">
    <!-- Template CSS -->
    <link rel="stylesheet" href="~/admin/assets/css/style.css">
    <link rel="stylesheet" href="~/admin/assets/css/components.css">
    <!-- Custom style CSS -->
    <link rel="stylesheet" href="~/admin/assets/css/custom.css">

</head>

<body>
    <div class="loader"></div>
    <div id="app">
        <div class="main-wrapper main-wrapper-1">
            <div class="navbar-bg"></div>
            <nav class="navbar navbar-expand-lg main-navbar sticky">
                <div class="form-inline mr-auto">
                    <ul class="navbar-nav mr-3">
                        <li>
                            <a href="#" data-toggle="sidebar" class="nav-link nav-link-lg
									collapse-btn"> <i data-feather="align-justify"></i></a>
                        </li>
                        <li>
                            <a href="#" class="nav-link nav-link-lg fullscreen-btn">
                                <i data-feather="maximize"></i>
                            </a>
                        </li>
                        <li>
                            <form class="form-inline mr-auto">
                                <div class="search-element">
                                    <input class="form-control" type="search" placeholder="Search" aria-label="Search" data-width="200">
                                    <button class="btn" type="submit">
                                        <i class="fas fa-search"></i>
                                    </button>
                                </div>
                            </form>
                        </li>
                    </ul>
                </div>
                <ul class="navbar-nav navbar-right">
                    <li class="dropdown dropdown-list-toggle">
                        <a href="#" data-toggle="dropdown"
                           class="nav-link notification-toggle nav-link-lg">
                            <i data-feather="bell" class="bell"></i>
                        </a>
                        <div class="dropdown-menu dropdown-list dropdown-menu-right pullDown">
                            <div class="dropdown-header">
                                Notifications
                                <div class="float-right">
                                    <a href="#">Mark All As Read</a>
                                </div>
                            </div>
                            <div class="dropdown-list-content dropdown-list-icons">
                                <a href="#" class="dropdown-item dropdown-item-unread">
                                    <span class="dropdown-item-icon bg-primary text-white">
                                        <i class="fas
												fa-code"></i>
                                    </span> <span class="dropdown-item-desc">
                                        Template update is
                                        available now! <span class="time">
                                            2 Min
                                            Ago
                                        </span>
                                    </span>
                                </a> <a href="#" class="dropdown-item">
                                    <span class="dropdown-item-icon bg-info text-white">
                                        <i class="far
												fa-user"></i>
                                    </span> <span class="dropdown-item-desc">
                                        <b>You</b> and <b>
                                            Dedik
                                            Sugiharto
                                        </b> are now friends <span class="time">
                                            10 Hours
                                            Ago
                                        </span>
                                    </span>
                                </a> <a href="#" class="dropdown-item">
                                    <span class="dropdown-item-icon bg-success text-white">
                                        <i class="fas
												fa-check"></i>
                                    </span> <span class="dropdown-item-desc">
                                        <b>Kusnaedi</b> has
                                        moved task <b>Fix bug header</b> to <b>Done</b> <span class="time">
                                            12
                                            Hours
                                            Ago
                                        </span>
                                    </span>
                                </a> <a href="#" class="dropdown-item">
                                    <span class="dropdown-item-icon bg-danger text-white">
                                        <i class="fas fa-exclamation-triangle"></i>
                                    </span> <span class="dropdown-item-desc">
                                        Low disk space. Let's
                                        clean it! <span class="time">17 Hours Ago</span>
                                    </span>
                                </a> <a href="#" class="dropdown-item">
                                    <span class="dropdown-item-icon bg-info text-white">
                                        <i class="fas
												fa-bell"></i>
                                    </span> <span class="dropdown-item-desc">
                                        Welcome to Otika
                                        template! <span class="time">Yesterday</span>
                                    </span>
                                </a>
                            </div>
                            <div class="dropdown-footer text-center">
                                <a href="#">View All <i class="fas fa-chevron-right"></i></a>
                            </div>
                        </div>
                    </li>
                </ul>
            </nav>
            <div class="main-sidebar sidebar-style-2">
                <aside id="sidebar-wrapper">
                    <div class="sidebar-brand">
                        <a asp-controller="Home" asp-action="Index">
                            <span class="logo-name">OBRS</span>
                        </a>
                    </div>
                    <ul class="sidebar-menu">
                        <li class="menu-header">Main</li>
                        <li class="dropdown active">
                            <a asp-controller="Admin" asp-action="Index" class="nav-link"><i data-feather="monitor"></i><span>Dashboard</span></a>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="menu-toggle nav-link has-dropdown">
                                <i data-feather="command"></i><span>Bus Management</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="nav-link" asp-controller="Admin" asp-action="AddBuses">Add Bus</a></li>
                                <li><a class="nav-link" asp-controller="Admin" asp-action="ManageBuses">View & Manage Buses</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="menu-toggle nav-link has-dropdown">
                                <i data-feather="clock"></i><span>Route & Schedule Management</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="nav-link" asp-controller="Admin" asp-action="AddRoutes">Add Route</a></li>
                                <li><a class="nav-link" asp-controller="Admin" asp-action="ManageRoutes">View & Manage Routes</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="menu-toggle nav-link has-dropdown">
                                <i data-feather="dollar-sign"></i><span>Price Management</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="nav-link" asp-controller="Admin" asp-action="AddPrices">Add Price</a></li>
                                <li><a class="nav-link" asp-controller="Admin" asp-action="ManagePrices">View & Manage Price</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="menu-toggle nav-link has-dropdown">
                                <i data-feather="users"></i><span>Employee Management</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="nav-link" asp-controller="Admin" asp-action="AddEmployees">Add Employee</a></li>
                                <li><a class="nav-link" asp-controller="Admin" asp-action="ManageEmployees">View & Manage Employees</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="menu-toggle nav-link has-dropdown">
                                <i data-feather="book"></i><span>Booking Management</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="nav-link" asp-controller="Admin" asp-action="ManageBookings">Manage Bookings</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="menu-toggle nav-link has-dropdown">
                                <i data-feather="users"></i><span>User Management</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="nav-link" asp-controller="Admin" asp-action="ManageUsers">Manage User</a></li>
                            </ul>
                        </li>
                        <li class="dropdown">
                            <a href="#" class="menu-toggle nav-link has-dropdown">
                                <i data-feather="users"></i><span>Contact Management</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li><a class="nav-link" asp-controller="Admin" asp-action="ManageContacts">Manage Contacts</a></li>
                            </ul>
                        </li>

                    </ul>
                </aside>
            </div>



            @RenderBody()


            <footer class="main-footer">
                <div class="footer-left">
                    <a asp-controller="Admin" asp-action="Index">OBRS</a></a>
                </div>
                <div class="footer-right">
                </div>
            </footer>
        </div>
    </div>
    <!-- General JS Scripts -->
    <script src="~/admin/assets/js/app.min.js"></script>
    <!-- JS Libraies -->
    <script src="~/admin/assets/bundles/apexcharts/apexcharts.min.js"></script>
    <!-- Page Specific JS File -->
    <script src="~/admin/assets/js/page/index.js"></script>
    <!-- Template JS File -->
    <script src="~/admin/assets/js/scripts.js"></script>
    <!-- Custom JS File -->
    <script src="~/admin/assets/js/custom.js"></script>
    @RenderSection("Scripts", required: false)
</body>


<!-- index.html  21 Nov 2019 03:47:04 GMT -->
</html>



