@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- About Start -->
<div class="container-fluid overflow-hidden about py-5">
    <div class="container py-5">
        <div class="row g-5">
            <!-- Left Content -->
            <div class="col-xl-6 wow fadeInLeft" data-wow-delay="0.2s">
                <div class="about-item">
                    <div class="pb-5">
                        <h1 class="display-5 text-capitalize">Central <span class="text-primary">About Us</span></h1>
                        <p class="mb-0">
                            We are committed to delivering excellence through innovation, dedication,
                            and customer-first values. Over the years, our team has built trust by
                            providing high-quality solutions tailored to client needs.
                        </p>
                    </div>
                    <div class="row g-4">
                        <div class="col-lg-6">
                            <div class="about-item-inner border p-4">
                                <div class="about-icon mb-4">
                                    <img src="~/auth/img/about-icon-1.png" class="img-fluid w-50 h-50" alt="Vision Icon">
                                </div>
                                <h5 class="mb-3">Our Vision</h5>
                                <p class="mb-0">
                                    To become a global leader by consistently creating value and
                                    making a positive impact in the community.
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="about-item-inner border p-4">
                                <div class="about-icon mb-4">
                                    <img src="~/auth/img/about-icon-2.png" class="img-fluid h-50 w-50" alt="Mission Icon">
                                </div>
                                <h5 class="mb-3">Our Mission</h5>
                                <p class="mb-0">
                                    To empower businesses and individuals with reliable, innovative,
                                    and sustainable solutions.
                                </p>
                            </div>
                        </div>
                    </div>
                    <p class="text-item my-4">
                        With a dedicated team and a proven track record, we continue to grow by
                        adapting to the evolving needs of our clients and industry standards.
                    </p>
                    <div class="row g-4">
                        <div class="col-lg-6">
                            <div class="text-center rounded bg-secondary p-4">
                                <h1 class="display-6 text-white">17+</h1>
                                <h5 class="text-light mb-0">Years of Experience</h5>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div class="rounded">
                                <p class="mb-2"><i class="fa fa-check-circle text-primary me-1"></i> Trusted by global clients</p>
                                <p class="mb-2"><i class="fa fa-check-circle text-primary me-1"></i> Dedicated & skilled team</p>
                                <p class="mb-2"><i class="fa fa-check-circle text-primary me-1"></i> Innovative solutions</p>
                                <p class="mb-0"><i class="fa fa-check-circle text-primary me-1"></i> Excellence in service</p>
                            </div>
                        </div>
                        <div class="col-lg-5 d-flex align-items-center">
                            <a href="#" class="btn btn-primary rounded py-3 px-5">More About Us</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Right Image -->
            <div class="col-xl-6 wow fadeInRight" data-wow-delay="0.2s">
                <div class="about-img position-relative">
                    <div class="img-1 mb-3">
                        <img src="~/auth/img/bus17.jpg" class="img-fluid rounded w-100 h-100" alt="About Image 1">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
